﻿@page
@model IndexModel
@inject ITokenService tokenService
@inject IAssetDependencyService assetDependencyService

@using DotNet5TestApp.Services.Token;
@using DotNet5TestApp.Extensions;
@using DotNet5TestApp.Services.AssetDependency;

@{
    assetDependencyService.AddCssComponentDependency("index");
    assetDependencyService.AddJsComponentDependency("index");
    assetDependencyService.AddVueAssetDependencyGroup();
    assetDependencyService.AddSimplebarAssetDependencyGroup();

    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Token: @Html.Raw(tokenService.GenerateToken())</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (Model.Cards?.Any() ?? false)
    {
        <div class="cards-container">
            <div class="cards-parent">
                @foreach (var card in Model.Cards.Where(x => x.IsRenderable()))
                {
                    <div class="card-wrapper">
                        @await Html.PartialAsync(card.GetViewPath(), card)
                    </div>
                }
            </div>
        </div>
    }
</div>
