@import "../site/variables";

.card-view-model {
    background-color: $black;
    color: white;
    padding: 20px;
    border: 5px solid #1b6ec2;

    p {
        margin-bottom: 0;
    }

    .btn-wrapper {
        padding-top: 20px;
    }

    img {
        width: 100%;
        height: auto;
    }

    .img-wrapper {
        padding-bottom: 15px;
    }
}
