﻿html body {
    background-color: #f3f3f3;
}

.cards-container {
    padding-top: 50px;
}

.cards-container .cards-parent {
    display: flex;
    margin: -15px -15px;
    flex-wrap: wrap;
}

.cards-container .cards-parent .card-wrapper {
    width: 50%;
    padding: 15px;
    display: inline-block;
}
