﻿@model CardViewModel
@inject IAssetDependencyService assetDependencyService

@using DotNet5TestApp.Services.AssetDependency;
@using DotNet5TestApp.Models.ViewModels;

@{
    if (Model == null || !Model.IsRenderable())
    {
        return;
    }

    assetDependencyService.AddCssComponentDependency("card");
    assetDependencyService.AddJsComponentDependency("card");
}

<div class="card-view-model">
    <div class="card-inner">
        @if (Model.Image?.HasMedia() ?? false)
        {
            <div class="img-wrapper">
                <img src="@Model.Image.Url" alt="@Model.Image.Name" data-id="@Model.Image.Id" width="600" height="300" />
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Title))
        {
            <h3>@Model.Title</h3>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <p>@Model.Description</p>
        }
        @if (Model.Button?.HasLink ?? false)
        {
            <div class="btn-wrapper">
                <a class="btn btn-primary" href="@Model.Button.Url" title="@Model.Button.Title" target="@Model.Button.Target.ToString()">@Model.Button.Title</a>
            </div>
        }
    </div>
</div>